pip~=22.0.4
attrs~=21.4.0
toml~=0.10.2
wheel~=0.37.1
Brotli~=1.0.9
cryptography~=36.0.1
lxml~=4.6.4
Pillow~=8.4.0
Jinja2~=3.0.3
multivolumefile~=0.2.3
texttable~=1.6.4
py7zr~=0.18.5
pyppmd~=0.18.2
pyzstd~=0.15.2
psutil~=5.9.0
pywin32~=302
setuptools~=60.2.0
future~=0.18.2
wcwidth~=0.2.5
pandas~=1.3.4
pyodbc~=4.0.32
colorama~=0.4.4